# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=main
alembic=1.0.*
argon2_cffi=19.1.*
asn1crypto=0.24.*
backcall=0.1.*
backports=1.0
backports.shutil_get_terminal_size=1.0.*
bcrypt=3.1.*
blas=1.0=mkl
ca-certificates=2019.5.*
certifi=2019.6.*
cffi=1.12.*
chardet=3.0.*
click=7.0
cryptography=2.7
cyrus-sasl=2.1.*
decorator=4.4.*
flask=1.1.*
flask-migrate=2.5.*
flask-script=2.0.*
flask-sqlalchemy=2.4.*
idna=2.8
intel-openmp=2019.*
ipython=7.7.*
ipython_genutils=0.2.*
itsdangerous=1.1.*
jedi=0.13.*
jinja2=2.10.*
krb5=1.16.*
libdb=6.1.*
libedit=3.1.*
libffi=3.2.*
libgcc-ng=9.1.*
libgfortran-ng=7.3.*
libntlm=1.5
libprotobuf=3.6.*
libstdcxx-ng=9.1.*
mako=1.0.*
markupsafe=1.1.*
mkl=2019.*
mkl_fft=1.0.*
mkl_random=1.0.*
mysql=5.7.*
mysql-connector-c=6.1.*
mysql-connector-python=8.0.*
ncurses=6.1
numpy=1.16.*
numpy-base=1.16.*
openssl=1.1.*
pandas=0.25.*
parso=0.5.*
passlib=1.7.*
pathlib2=2.3.*
pexpect=4.7.*
pickleshare=0.7.*
pip=19.1.*
prompt_toolkit=2.0.*
protobuf=3.6.*
ptyprocess=0.6.*
pycparser=2.19
pygments=2.4.*
pyopenssl=19.0.*
pysocks=1.7.*
python=3.7.*
python-dateutil=2.8.*
python-editor=1.0.*
pytz=2019.*
qt5=5.3.1=1
readline=7.0
requests=2.22.*
setuptools=41.0.*
simplegeneric=0.8.*
six=1.12.*
sqlalchemy=1.3.*
sqlite=3.29.*
tk=8.6.*
traitlets=4.3.*
urllib3=1.24.*
wcwidth=0.1.*
werkzeug=0.15.*
wheel=0.33.*
wtforms=2.2.*
xz=5.2.*
zlib=1.2.*
