<hr>
<div class="footer" style="position: fixed; left: 8%; bottom: 66px; height: 20px; width: 90%;">
  <div  style="height: 14px; float: left;">
  <a href="/copyright">COPYRIGHT AND DISCLAIMER</a>
  </div>
  <div style="height: 14px; float: right;"><a href="/contribute">CONTRIBUTOR GUIDELINES</a>
  </div>
</div>
<div class="footer" style="position: fixed; left: 0px; bottom: 50px; height: 16px; width: 100%; background: #FFFFFF; text-align: center;">
  <p style="height: 16px; ">Website designed by <a href="https://www.cemac.leeds.ac.uk/" target="_blank">CEMAC</a>
    &copy; 2019 <a href="https://www.leeds.ac.uk/" target="_blank">University of Leeds</a>, Leeds, LS2 9JT</p>
</div>
<div class="footer" style="position: fixed; left: 0px; bottom: 0px; height: 50px; width: 100%; background: #FFFFFF; text-align: center;">
  <img src="/static/Leeds-logo.jpg" alt="Leeds logo" style="height:50px; width:auto; padding: 1px">
  <img src="/static/NERC-logo.jpg" alt="NERC logo" style="height:50px; width:auto; padding: 1px">
  <img src="/static/Bristol-logo.jpg" alt="Bristol logo" style="height:50px; width:auto; padding: 1px">
  <img src="/static/icon.png" alt="COMET logo" style="height:50px; width:auto; padding: 1px">
</div>
