<hr>
<div class="footer" style="left: 30px; bottom: 0px; height: 68px; width: 85%; background: #FFFFFF; margin: 30px">
    <div  style="height: 14px;  float: left;">
  <a href="/copyright">COPYRIGHT AND DISCLAIMER</a>
  </div>
  <div style="height: 14px; float: right;"><a href="/contribute">CONTRIBUTOR GUIDELINES</a>
  </div>
  <div style="height: 16px; text-align: center;">
    Website designed by <a href="https://www.cemac.leeds.ac.uk/" target="_blank">CEMAC</a>
    &copy; 2019 <a href="https://www.leeds.ac.uk/" target="_blank">University of Leeds</a>, Leeds, LS2 9JT
  </div style="height: 55px; ">
  <center>
  <img src="/static/comet_logo_long.png" alt="COMET logo" style="height:50px; width:auto; padding: 5px">
  <img src="/static/Leeds-logo.jpg" alt="Leeds logo" style="height:50px; width:auto; padding: 5px">
  <img src="/static/uob-logo-full-colour-largest-2.png" alt="Bristol logo" style="height:50px; width:auto; padding: 5px">
</center>
<center>
<a href="/privacy">Privacy</a>
</center>
</div>
