<footer>
  <div class="entry-meta">

  </div>
  <div id="site-footer-widget">
    <div class="menu-second_menu-container">
      <ul id="menu-second_menu" class="menu">
        <li id="menu-item-3319" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3319"><a href="https://see4-177.leeds.ac.uk:5996/copyright-and-disclaimer/">Copyright and Disclaimer</a></li>
        <li id="menu-item-3320" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3320"><a href="https://see4-177.leeds.ac.uk:5996/how-to-submit-an-entry/">Contributor Guidelines</a></li>
      </ul>
    </div>
    <div class="textwidget">
      <p><a href="/wp-content/blogs.dir/267/files/2014/09/websiet_banner_landscape_clip.jpg"><img src="/wp-content/blogs.dir/267/files/2014/09/websiet_banner_landscape_clip.jpg" alt="" width="990" srcset="/wp-content/blogs.dir/267/files/2014/09/websiet_banner_landscape_clip-300x35.jpg 300w, /wp-content/blogs.dir/267/files/2014/09/websiet_banner_landscape_clip-1024x121.jpg 1024w, /wp-content/blogs.dir/267/files/2014/09/websiet_banner_landscape_clip-624x73.jpg 624w, /wp-content/blogs.dir/267/files/2014/09/websiet_banner_landscape_clip.jpg 1747w"
            sizes="(max-width: 1048px) 100vw, 1048px"></a></p>
    </div>
  </div><!-- #site-footer-widget -->
</footer>
