<div style="color: #397D02; margin-bottom: 0; background-color: #ffd600; padding: 5px; text-align: center;">
  <div class="container">
    <img src="/static/SWIFT-logo.jpg" alt="SWIFT logo" style="float:right;height:65px;">
    <span style="font-size: 35px">COMET</span><br>
    <span style="font-size: 15px">Volcano DataBase</span>
  </div>
</div>
