<div style="text-align: center; width: 80%; ">
			<div>
				<span>
					<a href="https://comet.nerc.ac.uk/"><img src="/static/comet_logo_long.png" alt="comet banner" style="float:left;height:65px;"></a>
					<a href="/" title="Volcano Deformation Database" rel="home"><span style="font-size: 35px">Volcanic and Magmatic Deformation Portal</span></a>
				</span>
			</div>
			<span style="font-size: 15px">Worldwide Database of Volcanic Ground Deformation</span>
		</div><!-- #masthead -->
