{% extends 'layout.html.j2' %}
{% block body %}

  <!-- plotly js: -->
  <script src="{{ url_for('static',filename='js/plotly.js')}}" charset="utf-8">
  </script>
  <!-- no ui slider js: -->
  <script src="{{ url_for('static',filename='js/nouislider.min.js')}}" charset="utf-8">
  </script>
  <!-- disp plotting: -->
  <script src="{{ url_for('static',filename='js/disp_plot.js')}}" charset="utf-8">
  </script>
  <!-- prob images: -->
  <script src="{{ url_for('static',filename='js/s1_images.js')}}" charset="utf-8">
  </script>
  <!-- full screen images: -->
  <script src="{{ url_for('static',filename='js/fs_images.js')}}" charset="utf-8">
  </script>
  <!-- page set up / functions: -->
  <script src="{{ url_for('static',filename='js/s1_analysis.js')}}" charset="utf-8">
  </script>

<div>
  <div>
    <style type="text/css">
      .acf-map {
        width: 70%;
        height: 500px;
        border: #ccc solid 1px;
        margin: 20px 0;
      }
    </style>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/nouislider.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/s1_analysis.css')}}">
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <header>
      <h1>{{data.name[0]}} {{data.ID[0]}} </h1>
    </header><!-- .entry-header -->
    <ul class="tabrow">
      <li><a href="/volcano-index/{{region}}/{{country}}/{{data.name[0]}}">Observations of Deformation</a></li>
      <li class="selected">Explore Sentinel-1 imagery</li>
      <li><a href="/volcano-index/{{region}}/{{country}}/{{data.name[0]}}/download">Export as CSV</a></li>
      {% if session.usertype == 'Admins' or session.usertype == 'Collaborators' %}
      <li><a href="/volcano-index/{{region}}/{{country}}/{{data.name[0]}}/edit">Update Observations</a></li>
      {% endif %}
    </ul>
   <div>
<div style="width:100%; display:block; margin:auto;">

    <script>
      var volcano_name = '{{ volcano }}';
      var volcano_region = 'africa';
      var volcano_frames = [{"id": "014A_07688_131313", "track": "14"},{"id": "079D_07694_131313", "track": "79"}];

      var js_data_prefix = '/data/';
      var disp_data_prefix = 'disp_data';
      var licsar_data_prefix = 'licsar_data';
      var prob_data_prefix = '/images/prob_data';
      var prob_imgs_prefix = '/images/prob_images/';
      var licsar_imgs_prefix = '/images/licsar_images/';
      var data_href_prefix = 'http://gws-access.ceda.ac.uk/public/nceo_geohazards/LiCSAR_products';
    </script>

    <!-- frame selection: -->
    <div class="s1_frame"
         id="s1_frame">
      <h2>Sentinel 1 Frame</h2>
      <div class="frame_id_control"
           id="frame_id_control">
      </div>
    </div>

    <!-- plots: -->
    <div class="disp_plot_container"
         id="disp_plot_container">
      <div class="disp_plot"
           id="heatmap_plot">
      </div>
      <div class="disp_plot"
           id="ts_plot">
      </div>
    </div>
    <!-- plot controls: -->
    <div class="plot_control_container"
         id="plot_control_container">
      <div class="data_type_control"
           id="data_type_control">
          <button id="data_type_button_disp"
                  onclick="disp_plot('raw');">
            displacement
          </button>
          <button id="data_type_button_coh"
                  onclick="disp_plot('coh');">
            coherence
          </button>
      </div>
      <div class="click_mode_control"
           id="click_mode_control">
          <button id="click_mode_button_select"
                  onclick="set_click_mode('select');">
            point to plot
          </button>
          <button id="click_mode_button_ref"
                  onclick="set_click_mode('ref');">
            reference pixel or area
          </button>
      </div>
      <div class="data_range_control"
           id="data_range_control">
      </div>
      <div class="data_range_value"
           id="data_range_value">
      </div>
    </div>

    <hr>

    <!-- s1 images: -->
    <div class="s1_image_container"
         id="s1_image_container">
      <div class="s1_imgs"
           id="s1_imgs">
        <img class="s1_img fs_img"
             id="s1_cc_img"
             src="">
        <img class="s1_img fs_img"
             id="s1_pha_img"
             src="">
        <img class="s1_img fs_img"
             id="s1_unw_img"
             src="">
        <img class="s1_img fs_img"
             id="s1_prob_img"
             src="">
      </div>
      <div class="s1_image_control"
           id="s1_image_control">
      </div>
      <div class="s1_image_value"
           id="s1_image_value">
      </div>
      <div class="s1_data"
           id="s1_data">
        <h2>Data Downloads</h2>
        <table class="s1_data_links"
              id="s1_data_links">
        </table>
      </div>

    </div>

    <!-- full screen images: -->
    <div id="fs_img_div"
         class="fs_img_div">
      <span id="fs_img_close"
            class="fs_img_close">&times;</span>
      <img id="fs_img_img"
           class="fs_img_img"
           src="">
    </div>


    </div><!-- .entry-content -->
  </div><!-- #content -->
</div><!-- #primary -->
</div><!-- #main .wrapper -->
<!-- full screen images: -->
<div id="fs_img_div" class="fs_img_div">
  <span id="fs_img_close" class="fs_img_close">&times;</span>
  <img id="fs_img_img" class="fs_img_img" src="">
</div>
{% endblock %}

</html>
