{% extends 'layout.html.j2' %}
{% block body %}

  <!-- plotly js: -->
  <script src="{{ url_for('static',filename='js/plotly.js')}}" charset="utf-8">
  </script>
  <!-- no ui slider js: -->
  <script src="{{ url_for('static',filename='js/nouislider.min.js')}}" charset="utf-8">
  </script>
  <!-- disp plotting: -->
  <script src="{{ url_for('static',filename='js/disp_plot.js')}}" charset="utf-8">
  </script>
  <!-- prob images: -->
  <script src="{{ url_for('static',filename='js/s1_images.js')}}" charset="utf-8">
  </script>
  <!-- full screen images: -->
  <script src="{{ url_for('static',filename='js/fs_images.js')}}" charset="utf-8">
  </script>
  <!-- page set up / functions: -->
  <script src="{{ url_for('static',filename='js/s1_analysis.js')}}" charset="utf-8">
  </script>

<div>
  <div>
    <style type="text/css">
      .acf-map {
        width: 70%;
        height: 500px;
        border: #ccc solid 1px;
        margin: 20px 0;
      }
    </style>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/nouislider.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/s1_analysis.css')}}">
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <header>
      <h1>{{data.name[0]}} {{data.ID[0]}} </h1>
    </header><!-- .entry-header -->
    <ul class="tabrow">
			<li><a href="/volcano-index/{{region}}/{{country}}/{{data.ID[0]}}">Observations of Deformation</a></li>
<!-- unnamed -->
			{% if data.name[0] == 'Unnamed' %}
				<li class="selected">Explore Sentinel-1 imagery</li>
				<li><a href="/volcano-index/{{region}}/{{country}}/{{data.ID[0]}}/download">Export as CSV</a></li>
				<!-- logged in -->
				{% if session.usertype == 'Admins' or session.usertype == 'Collaborators'or session.usertype == 'Reviewers' %}
					<!-- already updated -->
					{% if pending != 'Y' %}
						<li><a href="/volcano-index/{{region}}/{{country}}/{{data.ID[0]}}/edit">Add to this Entry</a></li>
					{% else %}

						{% if editor == True %}
						<li><a href="/volcano-index/{{region}}/{{country}}/{{data.ID[0]}}/edit">Update Edited Entry</a></li>
						{% endif %}
					{% endif %}
	<!-- already updated -->
				{% else %}
					<li><a href="/contact">Add to this Entry</a></li>
				{% endif %}
				<!-- logged in -->
				<!-- named -->
			{% else %}
				<li class="selected">Explore Sentinel-1 imagery</li>
				<li><a href="/volcano-index/{{region}}/{{country}}/{{data.name[0]}}/download">Export as CSV</a></li>
				{% if session.usertype == 'Admins' or session.usertype == 'Collaborators'or session.usertype == 'Reviewers' %}

					{% if pending != 'Y' %}
						<li><a href="/volcano-index/{{region}}/{{country}}/{{data.name[0]}}/edit">Add to this Entry</a></li>
					{% else %}

						{% if editor == True %}
							<li><a href="/volcano-index/{{region}}/{{country}}/{{data.name[0]}}/edit">Add to this Entry</a></li>
						{% endif %}
					{% endif %}

				{% else %}
					<li><a href="/contact">Add to this Entry</a></li>
				{% endif %}
			{% endif %}
		</ul>
   <div>
<div style="width:100%; display:block; margin:auto;">
  <p>These tools can be used to interrogate interferograms constructed by LiCSAR.
     First select the Sentinel-1 frame you want to look at from the buttons at the
     top of the page.  Then select a point to plot and a reference area.
     You can display both average <!--[check definition!]-->phase coherence and
     displacement to help with your choice. The cumulative displacement will be
     shown as a downsampled interferogram in panel A, while the time series is
     shown in panel B.  You can also inspect individual wrapped and unwrapped
     interferograms, coherence and look a the automatically estimated probability
     of the image containing a magmatic signal.  Algorithm details and references
     can be found on the <a href="/about-tools">About</a> page.
  </div>
<div style="width:100%; display:block; margin:auto;">

    <script>

      {% if frame == None %}
      var this_frame = {'region': '', 'frames': [{'id': '', 'track': ''}]};
      {% else %}
      var this_frame = {{ frame }};
      {% endif %}
      var volcano_name = '{{ volcano }}';
      var volcano_region = this_frame['region'];
      var volcano_frames = this_frame['frames'];

      var js_data_prefix = '/data/';
      var disp_data_prefix = 'disp_data';
      var licsar_data_prefix = 'licsar_data';
      var prob_data_prefix = 'prob_data';
      var prob_imgs_prefix = '/images/prob_images/';
      var licsar_imgs_prefix = '/images/licsar_images/';
      var data_href_prefix = 'http://gws-access.ceda.ac.uk/public/nceo_geohazards/LiCSAR_products';
    </script>


    <!-- frame selection: -->
    <div class="row_s1_frame flex_row flex_grow"
         id="row_s1_frame">
      <div class="col_s1_frame flex_column flex_grow"
           id="col_s1_frame">
        <h3 class="s1_page_hdr">Sentinel 1 Frame</h3>
        <div class="s1_frame_control flex_row_wrap flex_grow"
             id="s1_frame_control">
        </div>
      </div>
    </div>
    <!-- end frame selection. -->


    <!--- no data message: -->
    <div class="disp_error"
         id="no_disp_error">
      <p>No displacement data available.</p>
    </div>


    <!-- displacement plots: -->
    <div class="row_disp_plot flex_row_wrap flex_justify flex_grow"
         id="row_disp_plot">

      <!-- heatmap plot: -->
      <div class="disp_plot_box flex_half flex_grow"
           id="heatmap_plot_box">
        <div class="disp_plot"
             id="heatmap_plot">
        </div>
      </div>

      <!-- scatter plot: -->
      <div class="disp_plot_box flex_half flex_grow"
           id="scatter_plot_box">
        <div class="disp_plot"
             id="scatter_plot">
        </div>
      </div>

      <!-- heatmap plot controls: -->
      <div class="col_plot_control flex_column flex_half flex_grow"
           id="col_heatmap_control">
        <!-- heatmap type buttons: -->
        <div>
          <button id="heatmap_type_button_disp"
                  onclick="set_heatmap_type('disp');"
                  title="Display displacement data">
            displacement
          </button>
          <button id="heatmap_type_button_coh"
                  onclick="set_heatmap_type('coh');"
                  title="Display coherence data">
            coherence
          </button>
        </div>
        <!-- heatmap click type buttons: -->
        <div>
          <button id="click_mode_button_select"
                  onclick="set_click_mode('select');"
                  title="Select points for which time series or profile will be plotted">
            points to plot
          </button>
          <button id="click_mode_button_ref"
                  onclick="set_click_mode('ref');"
                  title="Select reference point or area for displacement calculation">
            reference area
          </button>
        </div>
        <!-- surface plot button: -->
        <div>
          <button id="surf_plot_button"
                  class="disp_action_button"
                  onclick="display_surf_plot();"
                  title="Display 3D surface plot of displacement data">
            surface plot
          </button>
        </div>
      </div>
      <!-- end heatmap plot controls. -->

      <!-- scatter plot controls: -->
      <div class="col_plot_control flex_column flex_half flex_grow"
           id="col_scatter_control">
        <!-- scatter type buttons: -->
        <div>
          <button id="scatter_type_button_ts"
                  onclick="set_scatter_type('ts');"
                  title="Display time series plot of displacement data">
            time series
          </button>
          <button id="scatter_type_button_profile"
                  onclick="set_scatter_type('profile');"
                  title="Display profile plot of displacement data">
            profile
          </button>
        </div>
        <!-- save csv button: -->
        <div>
          <button id="ts_to_csv_button"
                  class="disp_action_button"
                  onclick="scatter_to_csv();"
                  title="Save plot data as a CSV file">
            save data as csv
          </button>
        </div>
      </div>
      <!-- end scatter plot controls. -->

    </div>
    <!-- end displacement plots. -->


    <!-- displacement plot time range control: -->
    <div class="row_disp_range flex_row flex_center flex_grow"
         id="row_disp_range">
      <div class="col_disp_range flex_column flex_grow"
           id="col_disp_range">
        <div class="time_range_control"
             id="time_range_control">
        </div>
        <div class="time_range_value"
             id="time_range_value">
        </div>
      </div>
    </div>
    <!-- end displacement plot time range control. -->

    <hr id="hr_disp_plot">


    <!--- no data message: -->
    <div class="disp_error"
         id="no_s1_error">
      <p>No LiCSAR data available</p>
    </div>


    <!-- sentinel 1 images: -->
    <div class="row_s1_images flex_row_wrap flex_justify flex_grow"
         id="row_s1_images">
      <div class="flex_full flex_grow">
        <h3 class="s1_page_hdr">Individual interferograms and probability of magmatic deformation</h3>
      </div>
      <div class="s1_img_box flex_half flex_justify flex_grow">
        <div class="flex_full flex_column">
          <h5 class="s1_img_hdr">phase coherence</h5>
          <div class="s1_img_container flex_row flex_grow">
            <img class="s1_img flex_grow fs_img"
                 id="s1_cc_img"
                 title="phase coherence"
                 src="">
          </div>
        </div>
      </div>
      <div class="s1_img_box flex_half flex_justify flex_grow">
        <div class="flex_full flex_column">
          <h5 class="s1_img_hdr">line-of-sight wrapped range change</h5>
          <div class="s1_img_container flex_row flex_grow">
            <img class="s1_img flex_grow fs_img"
                 id="s1_pha_img"
                 title="line-of-sight wrapped range change"
                 src="">
          </div>
        </div>
      </div>
      <div class="s1_img_box flex_half flex_justify flex_grow">
        <div class="flex_full flex_column">
          <h5 class="s1_img_hdr">line-of-sight unwrapped range change</h5>
          <div class="s1_img_container flex_row flex_grow">
            <img class="s1_img flex_grow fs_img"
                 id="s1_unw_img"
                 title="line-of-sight unwrapped range change"
                 src="">
          </div>
        </div>
      </div>
      <div class="s1_img_box flex_half flex_justify flex_grow">
        <div class="flex_full flex_column">
          <h5 class="s1_img_hdr">probability of magmatic origin</h5>
          <div class="s1_img_container flex_row flex_grow">
            <img class="s1_img flex_grow fs_img"
                 id="s1_prob_img"
                 title="probability of magmatic origin"
                 src="">
          </div>
        </div>
      </div>
    </div>
    <!-- end sentinel 1 images. -->


    <!-- sentinel 1 images time range control: -->
    <div class="row_s1_img_range flex_row flex_center flex_grow"
         id="row_s1_img_range">
      <div class="col_s1_img_range flex_column flex_grow"
           id="col_s1_img_range">
        <div class="s1_image_control"
             id="s1_image_control">
        </div>
        <div class="s1_image_value"
             id="s1_image_value">
        </div>
      </div>
    </div>
    <!-- end sentinel 1 images time range control. -->

    <hr id="hr_s1_img">


    <!-- data downloads: -->
    <div class="row_data_downloads flex_row flex_grow"
         id="row_data_downloads">
      <div class="col_data_downloads flex_column flex_grow"
           id="col_data_downloads">
        <h3 class="s1_page_hdr">Data Downloads</h3>
        <div class="s1_data_links flex_row_wrap flex_grow"
             id="s1_cc_data_links">
        </div>
        <div class="s1_data_links flex_row_wrap flex_grow"
             id="s1_pha_data_links">
        </div>
        <div class="s1_data_links flex_row_wrap flex_grow"
             id="s1_unw_data_links">
        </div>
      </div>
    </div>
    <!-- end data downloads. -->


    <!-- surface plot: -->
    <div class="surf_plot_container"
         id="surf_plot_container">
      <span id="surf_plot_close"
            class="surf_plot_close">&times;</span>
      <div class="surf_plot"
           id="surf_plot">
      </div>
    </div>
    <!-- end surface plot. -->

    <!-- full screen images: -->
    <div id="fs_img_div"
         class="fs_img_div">
      <span id="fs_img_close"
            class="fs_img_close">&times;</span>
      <img id="fs_img_img"
           class="fs_img_img"
           src="">
    </div>
    <!-- end full screen images. -->


    </div><!-- .entry-content -->
  </div><!-- #content -->
</div><!-- #primary -->
</div><!-- #main .wrapper -->
<!-- full screen images: -->
<div id="fs_img_div" class="fs_img_div">
  <span id="fs_img_close" class="fs_img_close">&times;</span>
  <img id="fs_img_img" class="fs_img_img" src="">
</div>
{% endblock %}

</html>
