<html lang="en">
{% extends 'layout.html.j2' %}
{% block body %}
<div id="branding">
<a href="/">
<img src="/static/cropped-Sentinel-1.jpg" width="80%" height="auto" alt="" />
</a>
</div><!-- #branding -->
<h1> Contact Form </h1>
<p> coming soon
{% endblock %}
</html>
