{% extends 'layout.html.j2' %}


{% block body %}


<div style="text-align: justify">
Welcome to the COMET portal for volcanic and magmatic deformation.
 This site has two functions: (1) to document published and unpublished historical
 instances of deformation at volcanoes around the world and (2) to provide online
 tools for the analysis of Sentinel-1 interferograms produced by
 <a href="https://comet.nerc.ac.uk/comet-lics-portal/">LiCSAR</a> at active volcanoes.
 You can read a summary of the COMET historical deformation catalogue and
 instructions here <a href="/about">About the COMET Volcano deformation catalogue</a>.
 Online tools for interrogating Sentinel-1 imagery are available through the individual
 volcano pages linked to the map below or through our <a href="/volcano-index/Search-All">index</a>
 and are described here <a href="/about-tools">About our online analysis tools</a>.
  <p><center> Interactive map of volcanoes on this database </center></p>
</div><!-- .entry-content -->
<div id="map" style="height: 512px; width:1050px; display:block; margin:auto;"></div>
<script type="text/javascript">
  // The first parameter are the coordinates of the center of the map
  // The second parameter is the zoom level
  var map = L.map('map', {
    minZoom: 0,
    zoomSnap: 0.25,
  });
  // {s}, {z}, {x} and {y} are placeholders for map tiles
  // {x} and {y} are the x/y of where you are on the map
  // {z} is the zoom level
  // {s} is the subdomain of cartodb
  var layer = L.tileLayer('https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="http://cartodb.com/attributions">CartoDB</a>'
  });

  // Now add the layer onto the map
  map.addLayer(layer);

  var planes = {{volcinfo}};
    for (var i = 0; i < planes.length; i++) {
      marker = new L.circleMarker([planes[i][1],planes[i][2]],{
        radius: 4,
        stroke: false,
        fill: true,
        fillColor: "red",
      })
        .bindPopup('<a href="/volcano-index/'+planes[i][3]+'/'+planes[i][4]+'/'+ planes[i][0]+'">'+planes[i][0]+'</a>')
        .addTo(map);
    }

  map.setZoom(2)
  map.setView([0, 0])
</script>
{% endblock %}

</html>
