<html lang="en">
{% extends 'layout.html.j2' %}
{% block body %}
<div id="branding">
<a href="/">
<img src="/static/volcano_image1.jpg" width="80%" height="auto" alt="" />
</a>
</div><!-- #branding -->
<div class="entry-content" style="text-align: justify">
<p><a href="/volcano-index"><img src="/static/Defdatabase.jpg" alt="Volcano Deformation Database" style="float: right; width: 40%;"></a>
This website provides information about observations of surface deformation at volcanoes around the world, guided by the <a href="http://volcano.si.edu/">Global Volcanism Program</a> volcano list.</p>
<p> All the volcanoes in our <a href="/volcano-index/" target="_blank" rel="noopener">index</a> have a database entry detailing any recorded past deformation events, measured using satellite radar (InSAR) or ground-based methods (e.g., GPS, levelling or tilt).  Using data from a new satellite, ESA's <a href="https://earth.esa.int/web/guest/missions/esa-operational-eo-missions/sentinel-1">Sentinel-1</a>, each volcano entry will also be updated with the most recent processed InSAR image.</p>
</div><!-- .entry-content -->
{% endblock %}
</html>
