<!DOCTYPE html>
<html lang="en-UK">

<head>
  <meta charset="utf-8">
  <title>COMET_Volcanoes</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="shortcut icon" href=/static/icon.png>
  <link rel="icon" href="https://gqzvi1nt5j82vl48b1568uq1-wpengine.netdna-ssl.com/wp-content/uploads/2017/10/cropped-COMET_Roundel-192x192.png" sizes="192x192" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css')}}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style_wp.css')}}">
  {% block styles %}{% endblock %}
</head>
<body>
  {% include 'includes/_header.html.j2' %}
  {% include 'includes/_navbar.html.j2' %}
  <div class="container">
    {% include 'includes/_messages.html.j2' %}
    {% block body %}{% endblock %}
  </div>
  <div style="padding-top: 90px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;"></div>
  {% include 'includes/_footer.html.j2' %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  {% block scripts %}{% endblock %}
</body>

</html>
