{% extends 'layout.html.j2' %}
{% block body %}
<div>
	<div>
		<style type="text/css">
			.acf-map {
				width: 70%;
				height: 500px;
				border: #ccc solid 1px;
				margin: 20px 0;
			}
		</style>
		<script src="https://maps.googleapis.com/maps/api/js"></script>
		<header>
			<div style='text-align: right'>
				{% if session.usertype == 'Admins' %}
			<form action=/delete/VolcDB1/{{data.ID[0]}} method="post" onsubmit="return confirm('Are you sure?');">
				<input type="hidden" name="_method" value="delete">
				<input type="submit" value="&#10008; delete " class="btn btn-danger pull-right">
			</form>
			{% endif %}
		</div>
			{% if pending == 'Y' %}
			<h1>{{data.name[0]}}*</h1>
			<p> <i> *updates pending approval </i>
			{% else %}
			<h1>{{data.name[0]}}</h1>
			{% endif %}

		</header><!-- .entry-header -->

		<ul class="tabrow">
			<li class="selected">Observations of Deformation</li>
<!-- unnamed -->
			{% if data.name[0] == 'Unnamed' %}
				<li><a href="/volcano-index/{{region}}/{{country}}/{{data.ID[0]}}/S1_analysis">Explore Sentinel-1 imagery</a></li>

				<!-- logged in -->
				{% if session.usertype == 'Admins' or session.usertype == 'Collaborators'or session.usertype == 'Reviewers' %}
					<!-- already updated -->
					{% if pending != 'Y' %}
						<li><a href="/volcano-index/{{region}}/{{country}}/{{data.ID[0]}}/edit">Add to this Entry</a></li>
					{% else %}

						{% if editor == True %}
						<li><a href="/volcano-index/{{region}}/{{country}}/{{data.ID[0]}}/edit">Update Edited Entry</a></li>
						{% endif %}
					{% endif %}
	<!-- already updated -->
				{% else %}
					<li><a href="/contact">Add to this Entry</a></li>
				{% endif %}
				<!-- logged in -->
				<!-- named -->
			{% else %}
				<li><a href="/volcano-index/{{region}}/{{country}}/{{data.name[0]}}/S1_analysis">Explore Sentinel-1 imagery</a></li>

				{% if session.usertype == 'Admins' or session.usertype == 'Collaborators'or session.usertype == 'Reviewers' %}

					{% if pending != 'Y' %}
						<li><a href="/volcano-index/{{region}}/{{country}}/{{data.name[0]}}/edit">Add to this Entry</a></li>
					{% else %}

						{% if editor == True %}
							<li><a href="/volcano-index/{{region}}/{{country}}/{{data.name[0]}}/edit">Add to this Entry</a></li>
						{% endif %}
					{% endif %}

				{% else %}
					<li><a href="/contact">Add to this Entry</a></li>
				{% endif %}
			{% endif %}
		</ul>
		<div>
			<table>
				<tr>
					<th>Volcano number:</th>
					<td>{{data.ID[0]}}</td>
				</tr>
				<tr>
					<th>Region:</th>
					<td>{{data.Area[0]}}</td>
				</tr>
				<tr>
					<th>Country:</th>
					<td>{{data.country[0]}}</td>
				</tr>
				<tr>
					<th>Geodetic measurements?</th>
					<td>{{data.geodetic_measurements[0]}}</td>
				</tr>
				<tr>
					<th>Deformation observation?</th>
					<td>{{data.deformation_observation[0]}}</td>
				</tr>
				<tr>
					<th>Measurement method(s):</th>
					<td>{{data.measurement_methods[0]}}</td>
				</tr>
				<tr>
					<th>Duration of observation:</th>
					<td>{{data.duration_of_observation[0]}}</td>
				</tr>
				<tr>
					<th>Inferred cause of deformation:</th>
					<td>{{data.inferred_causes[0]}}</td>
				</tr>
				<tr>
					<th>Characteristics of deformation:</th>
					<td>
					{{data.characteristics_of_deformation[0]}}
					</td>
				</tr>
				<tr>
					<th>References:</th>
					<td>{{data.references[0][1:-1]}}</td>
				</tr>
				<tr>
					<th>Location:</th>
					<td> {{data.longitude[0]}}, {{data.latitude[0]}} </td>
				</tr>
			</table>

			<a href="/volcano-index/{{region}}/{{country}}/{{data.name[0]}}/download"><button style="background-color: #008CBA;">Export as CSV</button></a>
			<div class="acf-map">
				<iframe width="100%" height="100%" id="gmap_canvas" src="https://maps.google.com/maps?q={{data.latitude[0]}}%2C{{data.longitude[0]}}&t=k&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
			</div>
		</div><!-- .entry-content -->
	</div><!-- #content -->
</div><!-- #primary -->
</div><!-- #main .wrapper -->
{% endblock %}

</html>
