{% extends 'layout.html.j2' %}
{% block body %}
{% if tableClass=='index' %}
<div style="text-align:center; width:100%; display:block; margin:auto;">
<h1> Volcano Index </h1>
</div><!-- #branding -->
<div >
  <p> There are currently {{total}} volcanos recorded
  <p> Select Browse to select Region to Browse or Search All to view all volcanoes and use search function <p>
  <ul class="tabrow">
      <li><a href="/volcano-index/Search-All">Search All</a></li>
      <li class="selected"><a href="/volcano-index/">Browse by Region</a></li>
  </ul>
 <table id="myTable"  class="display" style="width:70%">
    <thead>
      <tr>
        <th>Area</th>
        <th> Number of Volcanoes in data base </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for index, row in data.iterrows() %}
      <tr>
        <td>{{row['Area']}}</td>
        <td> {{row['freq']}} </td>
        <td> <a href='/volcano-index/{{row['Area']}}'> Browse Region </td>
      </tr>
      {% endfor %}
    </tbody>
</table>
</div>
{% elif tableClass == 'region' %}
<div  style="text-align:center; width:100%; display:block; margin:auto;">
<h1> Volcano Index ({{region}})</h1>
</div><!-- #branding -->
<div >
  <p> There are currently <b>{{total}}</b> volcanos recorded in {{region}}
  <p> Select Browse to select Country Browse {{region}} to view all volcanos in region or Search All to view all volcanoes and use search function to search <p>
  <ul class="tabrow">
      <li><a href="/volcano-index/Search-All">Search All</a></li>
     <li><a href="/volcano-index">Browse by Region</a></li>
      <li><a href="/volcano-index/{{region}}-all">Browse {{region}}</a></li>
      <li class="selected"><a href="/volcano-index/{{region}}">Select Country</a></li>
  </ul>
 <table id="myTable"  class="display" style="width:70%">
    <thead>
      <tr>
        <th> Country </th>
        <th> Number of Volcanoes in database </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for index, row in data.iterrows() %}
      <tr>
        <td>{{row['country']}}</td>
        <td> {{row['freq']}} </td>
        <td> <a href='/volcano-index/{{region}}/{{row['country']|replace('/','_')}}'> Browse Country </td>
      </tr>
      {% endfor %}
    </tbody>
</table>
</div>
{% endif %}
{% endblock %}
{% block scripts %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script>
$(document).ready(function(){
  $('.dropdown-toggle').dropdown();
  var table = $('#myTable').DataTable({
    columnDefs: [
        {targets: [2], orderable: false}
    ],
      order: [[1, "dsc"]],
      stateSave: true
  });
});
</script>
{% endblock %}
</html>
