<html lang="en">
{% extends 'layout.html.j2' %}
{% block body %}
<div id="branding">
<a href="/">
<img src="/static/volcano_image2.jpg" width="80%" height="auto" alt="" />
</a>
<h1> Volcano Index </h1>
</div><!-- #branding -->
<div style="text-align: justify">
<a href="/volcano-index/volcano">Example Volcano</a>
</div>
{% endblock %}
</html>
