<html lang="en">
{% extends 'layout.html.j2' %}
{% block body %}
<div style="text-align:center; width:100%; display:block; margin:auto;">
<h1> Volcano Index </h1>
</div><!-- #branding -->
<div >
  <p> There are currently {{total}} volcanos recorded
  <p> Select Browse to select Region to Browse or Search All to view all volcanoes and use search function <p>
  <ul class="tabrow">
      <li class="selected"><a href="/volcano-index/">Browse</a></li>
      <li><a href="/volcano-index/Search-All">Search All</a></li>
      {% if session.usertype == 'Admins' or session.usertype == 'Collaborators' %}
      <li><a href="/volcano-index/add">Add new Volcano</a></li>
      {% endif %}
  </ul>
 <table id="myTable"  class="display" style="width:70%">
    <thead>
      <tr>
        <th>Area</th>
        <th> Number of Volcanoes in data base </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for index, row in data.iterrows() %}
      <tr>
        <td>{{row['Area']}}</td>
        <td> {{row['freq']}} </td>
        <td> <a href='/volcano-index/{{row['Area']}}'> Browse Region </td>
      </tr>
      {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
{% block scripts %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script>
$(document).ready(function(){
  $('.dropdown-toggle').dropdown();
  var table = $('#myTable').DataTable({
    columnDefs: [
        {targets: [2], orderable: false}
    ],
      order: [[1, "dsc"]]
  });
});
</script>
{% endblock %}
</html>
